.field-size,
.speed {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 2px solid #c0b1c5;
  border-radius: 8px;
  box-sizing: border-box;
  color: #464646;
  cursor: text;
  font-size: 16px;
  max-height: 100%;
  outline: none;
  padding: 13px 19px 13px 13px;
  resize: none;

  width: 200px;
  margin-right: 8px;
}
